* {
  font-family: 'Noto Sans CJK TC', LiHei Pro, '儷黑體', sans-serif,
    'Microsoft JhengHei';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 12px;
}

body {
  overflow-x: hidden;
  // overflow-y: hidden;
}

a,
a:hover,
a:focus {
  color: $color-blue;
  text-decoration: none;
  outline: none;
}

.gray {
  color: $color-gray;
}

.green {
  color: $color-green;
}

.red {
  color: $color-red;
}

select {
  display: inline-block;
  min-width: 100px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.5s;
  &:focus {
    outline: none;
    border: 1px solid $color-blue;
  }
}

textarea {
  line-height: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  transition: border 0.5s;
  resize: vertical;
  border-radius: 5px;
  &:focus {
    outline: none;
    border: 1px solid $color-blue;
  }
}

input {
  height: 20px;
  &:focus {
    outline: none;
  }
  &[type='text'],
  &[type='number'],
  &[type='password'] {
    height: 30px;
    line-height: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: border 0.5s;
  }
  &[type='text']:hover,
  &[type='number']:hover,
  &[type='password']:hover,
  &[type='text']:focus,
  &[type='number']:focus,
  &[type='password']:focus {
    border: 1px solid $color-blue;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.btn,
.btn.active {
  cursor: pointer;
  border: none;
  &:focus,
  &:focus:active {
    outline: none;
  }
  &:focus {
    box-shadow: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}

label.checkbox {
  display: inline-block;
  margin-right: 10px;
  line-height: 18px;
  input[type='checkbox'] {
    // position: absolute;
    // left: 0;
    // margin-left: 0px;
    height: 12px;
  }
}

textarea:hover,
textarea:hover,
select:hover {
  border: 1px solid $color-blue;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bbb;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bbb;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bbb;
}

.datepicker {
  padding: 5px;
}
[v-cloak] {
  display: none;
}

.tooltip {
  pointer-events: none;
}
