[ff-quick-search] {
  .search-list {
    border: 1px solid #ccc;
    margin-top: -8px;
    position: absolute;
    z-index: 9;
    background: white;
    padding: 0px;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
    @include media-down(sm) {
      height: 200px;
    }
    .search-title {
      height: 20px;
      line-height: 20px;
      padding: 0px 10px;
      color: #777;
      background-color: #ddd;
    }
    .search-line {
      list-style: none;
      padding: 0px 10px;
      white-space: nowrap;
      text-align: left;
      height: 25px;
      line-height: 25px;
      transition: all 0.3s;
      &:hover {
        list-style: none;
        background-color: $color-blue;
        color: white;
        cursor: pointer;
      }
      @include media-down(sm) {
        height: 35px;
        line-height: 35px;
      }
    }
  }
}
